syard/LR5/laba5-schema.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT LVData (Version, DBL+, Cluster)>
<!ATTLIST LVData
          xmlns CDATA #IMPLIED>
<!ELEMENT Version (#PCDATA)>
<!ELEMENT DBL (Name, Val)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT Val (#PCDATA)>
<!ELEMENT Cluster (Name, NumElts, Array+)>
<!ELEMENT NumElts (#PCDATA)>
<!ELEMENT Array (Name, Dimsize, DBL+)>
<!ELEMENT Dimsize (#PCDATA)>
